.header{
    padding: 0px 60px;
    border-bottom: 1px solid gray ;
}
.header h1{
font-size: 24px;
font-weight: 400;
}
.main{
    padding: 0px 60px;
}
.todo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: ;
}
.cut{
    text-decoration: line-through;
}